.result {
    height: 80px;
    border: solid;
    width: 100%;
    border-radius: 8px;
    padding-left: 5px;
}

.screen {
    width: 90%;
    height: 68%;
    border: none;
    font-size: 18px;
}

.screen:focus {
    border: none;
    outline: unset;
}

.result .total {
    text-align: right;
    padding-right: 5px;
    color: #d7d6d6;
}

.operators-numbers {
    border: solid;
    border-radius: 7px;
    width: 260px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    margin: 20px auto;
}

.btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(242, 237, 237);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn.calc {
    background-color: #eeeeee73;
}
.btn.calc.equal {
    background-color: #61DAFB;
}
.btn.calc.equal:hover {
    background-color: #61DAFB;
    cursor: pointer;
}

.btn.calc:hover {
    background-color: #eee;
}

.btn:hover {
    background-color: #61DAFB;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 15px;
}